@model AllViewModel
@{
    ViewData["Title"] = "Gündəm | Ekonomiks";
}
<section class="sections">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 pattern">
            <p class="patterntext">GÜNDƏM</p>
            <p class="patterntextcrumbs"> <a href="index.html"></a><a href="contact.html"> </a></p>
        </div>
    </div>
</section>
<section class="sections">
    <div class="container">
        <div class="row mt-5">
            @foreach (var item in Model.Actuals)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 interviewspagebox">
                    <div class="imagediv">
                        <a asp-controller="actual" asp-action="index" asp-route-id="@item.Id">
                            <img class="latestnewsimage" src="~/img/@item.Image" width="370" height="200" alt="@item.Header">
                        </a>
                    </div>
                    <div class="boxnews">
                        <p class="boxcategorynews">@item.Category</p>
                        <p class="infoabouttext">
                            @if (item.Header.Length > 40)
                            {
                                <a asp-controller="actual" asp-action="index" asp-route-id="@item.Id">@item.Header.Trim().Substring(0, 50)...</a>

                            }
                            else
                            {
                                <a asp-controller="actual" asp-action="index" asp-route-id="@item.Id">@item.Header.Trim()</a>
                            }
                        </p>
                        <p class="datetime">@item.DateTime.ToString("dd/MM/yyyy")</p>
                        <p class="readtime"><img src="~/img/clock.svg" alt=""> @item.ReadTime dəq. oxu</p>
                    </div>
                </div>
            }

            @*<div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <a href="#"><img src="~/img/reload.svg" class="img-fluid loadmore" alt="loadmore"></a>
                </div>*@
        </div>
    </div>
</section>